# MacOS
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/

*.env

config*.json
!config*.example.json

vendor/github.com/wascript3r/*

*.tar.gz

# Helm
.helm/files/*
!.helm/files/.gitkeep